<div class="container-fluid" cdkDropListGroup>
  <!-- First row containing disagree, heading and agree -->
  <div class="row justify-content-between">
    <div class="col-3 text-start">
        <span>Disagree</span>
    </div>
    <div class="col-6 text-center">
        <span>Sort the cards according to your experience with the iPads this semester</span>
    </div>
    <div class="col-3 text-end">
        <span>Agree</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
        <table class="table my-0">
            <thead>
              <tr>
                <th class="text-center" scope="col" [style.background-color]="'#'+colColors[i]"
                    *ngFor="let heading of colHeadings; let i = index" >{{ heading }}</th>
              </tr>
            </thead>
            <tbody>
              <!-- Columns holding the cardholders -->
              <tr>
                <td class="p-0 column" *ngFor="let col of cols; let c = index"> <!-- Create all cols -->
                    <div class="cell text-center" *ngFor="let cell of cols[c]; let i = index"
                        cdkDropList [cdkDropListData]="cols[c][i]" (cdkDropListDropped)="drop($event)"> <!-- Create all cells in a col -->
                        <!-- Statement in a cell (if exists) -->
                        <app-statement *ngIf="cols[c][i][0]" [statement]="cols[c][i][0]" cdkDrag></app-statement>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

  <!-- Continue button-->
  <div class="row py-3 mt-5" *ngIf="nextStepAvailable">
    <div class="col-12 text-center">
      <button class="btn btn-primary rounded-pill fs-4 px-4" (click)="stepService.nextStep()">Continue</button>
    </div>
  </div>

  <!-- Second row containing the pre sorted statements -->
  <div *ngIf="!nextStepAvailable" class="row justify-content-center mt-5">
    <div class="col p-0">
        <p class="text-center">Disagree #3</p>
        <div
            cdkDropList
            [cdkDropListData]="disagrees"
            class="statement-container mx-auto">
            <app-statement *ngFor="let disagree of disagrees" [statement]="disagree" cdkDrag></app-statement>
        </div>
    </div>

    <div class="col p-0">
        <p class="text-center">Neutral #2</p>
        <div
            cdkDropList
            [cdkDropListData]="neutrals"
            class="statement-container mx-auto">
            <app-statement *ngFor="let neutral of neutrals" [statement]="neutral" cdkDrag></app-statement>
        </div>
    </div>

    <div class="col p-0">
        <p class="text-center">Agree #1</p>
        <div
            cdkDropList
            [cdkDropListData]="agrees"
            class="statement-container mx-auto">
            <app-statement *ngFor="let agree of agrees" [statement]="agree" cdkDrag></app-statement>
        </div>
    </div>
  </div>
</div>