<app-modal *ngIf="modalLoaded && stepService.getFurthestStep == 0" [modal]="introductionModal"></app-modal>

<app-modal *ngIf="modalLoaded && stepService.getFurthestStep == 1" [modal]="step1Modal"></app-modal>

<div class="container-fluid" cdkDropListGroup style="max-width: 1800px;">

  <!-- First row containing the statements -->
  <div class="row justify-content-center">
    <div id="statements" class="col-12 col-md-8 p-0">
        <div
            cdkDropList
            [cdkDropListData]="statements"
            class="statement-container mx-auto h-100"
            [cdkDropListEnterPredicate]="noReturnPredicate"
            >
            <app-statement *ngFor="let statement of statements" [statement]="statement" cdkDrag></app-statement>
        </div>
    </div>
  </div>

  <!-- Second row containing disagree, neutral, agree-->
  <div  class="row justify-content-center mt-4 ehq3_presort-row"
        [ngClass]="{'presort-three-line': isMobile(), 'presort-two-line': twoLine, 'presort-one-line' : oneLine }">
    <div class="p-0 mb-3 presort-disagree-container">
        <p class="text-center mb-1">{{ getLabelDisagree() }}</p>
        <div
            cdkDropList
            [cdkDropListData]="disagrees"
            class="statement-container mx-auto"
            (cdkDropListDropped)="drop($event)">
            <app-statement *ngFor="let disagree of disagrees" [statement]="disagree" cdkDrag></app-statement>
        </div>
    </div>
    <div class="p-0 mb-3 presort-neutral-container">
        <p class="text-center mb-1">{{ getLabelNeutral() }}</p>
        <div
            cdkDropList
            [cdkDropListData]="neutrals"
            class="statement-container mx-auto"
            (cdkDropListDropped)="drop($event)">
            <app-statement *ngFor="let neutral of neutrals" [statement]="neutral" cdkDrag></app-statement>
        </div>
    </div>
    <div class="p-0 mb-3 presort-agree-container">
        <p class="text-center mb-1">{{ getLabelAgree() }}</p>
        <div
            cdkDropList
            [cdkDropListData]="agrees"
            class="statement-container mx-auto"
            (cdkDropListDropped)="drop($event)">
            <app-statement *ngFor="let agree of agrees" [statement]="agree" cdkDrag></app-statement>
        </div>
    </div>
  </div>
</div>