<app-modal *ngIf="modalLoaded" [modal]="step1Modal"></app-modal>

<div class="container-fluid" cdkDropListGroup>

  <!-- First row containing the statements -->
  <div class="row justify-content-center">
    <div id="statements" class="col-12 col-md-8 p-0" style="border: 1px solid blue;">
        <div
            cdkDropList
            [cdkDropListData]="statements"
            class="statement-container mx-auto h-100"
            [cdkDropListEnterPredicate]="noReturnPredicate"
            >
            <app-statement *ngFor="let statement of statements" [statement]="statement" cdkDrag></app-statement>
        </div>
    </div>
  </div>

  <!-- Second row containing disagree, neutral, agree-->
  <div class="row justify-content-center mt-4">
    <div class="col p-0">
        <p class="text-center mb-1">{{ getLabelDisagree() }} #1</p>
        <div
            cdkDropList
            [cdkDropListData]="disagrees"
            class="statement-container mx-auto"
            (cdkDropListDropped)="drop($event)">
            <app-statement *ngFor="let disagree of disagrees" [statement]="disagree" cdkDrag></app-statement>
        </div>
    </div>
    <div class="col p-0">
        <p class="text-center mb-1">{{ getLabelNeutral() }} #2</p>
        <div
            cdkDropList
            [cdkDropListData]="neutrals"
            class="statement-container mx-auto"
            (cdkDropListDropped)="drop($event)">
            <app-statement *ngFor="let neutral of neutrals" [statement]="neutral" cdkDrag></app-statement>
        </div>
    </div>
    <div class="col p-0">
        <p class="text-center mb-1">{{ getLabelAgree() }} #3</p>
        <div
            cdkDropList
            [cdkDropListData]="agrees"
            class="statement-container mx-auto"
            (cdkDropListDropped)="drop($event)">
            <app-statement *ngFor="let agree of agrees" [statement]="agree" cdkDrag></app-statement>
        </div>
    </div>
  </div>

  <!-- Continue button-->
  <div class="row py-3 mt-5" *ngIf="statements.length <= 0">
    <div class="col-12 text-center">
      <button class="btn btn-primary rounded-pill fs-4 px-4" (click)="stepService.nextStep()">Continue</button>
    </div>
  </div>

</div>