@use "sass:map"; // To map over the variables inside $theme-colors

// Custom variables overriding bootstrap variables (e.g. _variables.scss)
$theme-colors: (
    "primary": #0d6efd,
    "yellow": #e9e633,
    "red": #dc3545,
    "agree": #9fdfbf,
    "neutral": #e9e9e9,
    "disagree": #ffd5d5,
    "muted": #ced4da,
);
:root {
    --primary: #{map.get($theme-colors, "primary")};
    --yellow: #{map.get($theme-colors, "yellow")};
    --red: #{map.get($theme-colors, "red")};
    --agree: #{map.get($theme-colors, "agree")};
    --neutral: #{map.get($theme-colors, "neutral")};
    --disagree: #{map.get($theme-colors, "disagree")};
}
 
/*@import 'https://fonts.googleapis.com/css?family=Fire+Sans';
$font-family-sans-serif:      'Fira Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       'Fira Sans', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;*/
 
 
@import "../node_modules/bootstrap/scss/bootstrap";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
