<div id="modal-container" *ngIf="isVisible()">
    <div class="modal-dialog p-4">
        <div class="modal-content">
            <!--<div class="modal-header">
                <h3 class="modal-title mb-0">{{ modal.messageHead }}</h3>
            </div>-->
            <div class="modal-body">
                <div [innerHTML]="modal.message"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-main" (click)="ok()">{{ getButtonText() }}</button>
            </div>
        </div>
    </div>
    
</div>

