<div class="container-fluid mt-5">

    <!-- Agree title -->
    <div class="row bg-agree">
        <div class="col-12">
            <h1 class="mb-0 p-2 text-center">Agree (4)</h1>
        </div>
    </div>

    <!-- Agree statement comments -->
    <div class="row p-2 bg-muted" *ngFor="let comment of commentsAgree; index as i">
        <div class="col-12 col-md-4">
            <app-statement [statement]="comment[0]" cdkDrag></app-statement>
        </div>
        <div class="col-12 col-md-8">
            <textarea [(ngModel)]="comment[1]" class="form-control" id="{{'agreeTextarea' + i}}" rows="3"></textarea>
        </div>
    </div>

    <!-- Disagree title -->
    <div class="row mt-5 bg-disagree">
        <div class="col-12">
            <h1 class="mb-0 p-2 text-center">Disagree (-4)</h1>
        </div>
    </div>

    <!-- Disagree statement comments -->
    <div class="row p-2 bg-muted" *ngFor="let comment of commentsDisagree; index as i">
        <div class="col-12 col-md-4">
            <app-statement [statement]="comment[0]" cdkDrag></app-statement>
        </div>
        <div class="col-12 col-md-8">
            <textarea [(ngModel)]="comment[1]" class="form-control" id="{{'disagreeTextarea' + i}}" rows="3"></textarea>
        </div>
    </div>

    <!-- Continue button-->
    <div class="row py-3 mt-5">
        <div class="col-12 text-center">
          <button class="btn btn-primary rounded-pill fs-4 px-4" (click)="onContinue()">Continue</button>
        </div>
    </div>
</div>